body{
    background: #52085a;
    font-family: Helvetica Neue, Helvetica, Arial;
    margin: 0;
    padding: 0;
    }

marquee{
    background: #000;
    color: white;
}

header{
    background: #52085a;
    color: black;
    font-size: large;
    padding: 20px 10px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    color: rgb(0, 0, 0);
    margin-right: 50px;
    display: inline-block;
}

li:hover{
    background: white;
}

section{
    background: #000000;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
section.Tier-A {
    display: flex;
}

.Tier-A div{
    padding: 100px;
    margin: auto;
}

section.Tier-A.horror div{
    background: gray;
    color: rgb(255, 0, 0);
}

section.Tier-A.funny div{
    background: gray;
    color: rgb(0, 255, 64);
}

a{
    text-decoration: none;
}

footer{
    background: black;
    padding: 50px;
}
.button {border-radius: 10px;}